server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/aniketpachpande9867/erp-config-repo
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
